skola_offline/linux/flutter/generated_plugin_registrant.cc
skola_offline/linux/flutter/generated_plugin_registrant.h
skola_offline/linux/flutter/generated_plugins.cmake
skola_offline/macos/Flutter/GeneratedPluginRegistrant.swift
skola_offline/windows/flutter/generated_plugin_registrant.cc
skola_offline/windows/flutter/generated_plugin_registrant.h
skola_offline/windows/flutter/generated_plugins.cmakec
